body{
    background-image: url("bg1.jpg");
}
img{
    width: 300pt;
}
.atas1{
    background-color:  #faf3f2;
    width: 100%
}
table, th, td{
    border: 1px solid;
    margin: 0 auto;
    padding: 15px 20px 25px 20px;
}
.atas2{
    background-color:  #faf3f2;
}
.atas3{
    background-color: #faf3f2;
}
form{
text-align: center;
}